<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ship.web.mappers.UserMapper">
	<resultMap type="com.ship.web.domains.UserDTO" id="usermap">
		<id column="USER_ID" property="uid"/>
		<result column="USER_PW" property="upw"/>
		<result column="USER_NAME" property="uname"/>
	</resultMap>

	<select id="selectUserById" resultMap="usermap">
		SELECT * FROM USER WHERE USER_ID LIKE #{uid}
		
	</select>
	<insert id="insertUser" parameterType="com.ship.web.domains.UserDTO">
	    INSERT INTO USER (USER_ID,  USER_PW, USER_NAME) VALUES (
	    	#{uid}, #{upw},#{uname}
	    )
	</insert>

	

</mapper>